*{
font-family: 'Work Sans', sans-serif;
padding: 0;
margin: 0;

}

/* nav related style start  */

nav{
    display: flex;
    justify-content: space-between;
    padding: 2.8rem;
    background: rgba(39, 39, 39, 0.05);
}
.logo{
    color: #E55473;
    font-size: 2.1rem;
    font-weight: 700;
 
}
.menus-container{
    display: flex;
    list-style: none;
    gap: 2rem; 
    align-items: center;
    padding-left: 2rem;
}
a{
    text-decoration: none;
    color: #131313;
}

/* nav related style end */

/* banner related style start  */

.banner-container{
    background: rgba(255, 144, 14, 0.10);
}
.banner-text{
    text-align: center;
    padding: 1.9rem 0;
}
.banner-title{
    color: var(--dark-01, #131313);
    font-size: 3.1rem;
    font-weight: 700;
}
span{
    color: #E55473;
}
.common-description{
    color: var(--dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    padding: 1.5rem 0;
}
.common-btn{
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 8px;
    background: #E55473;
    padding: 0.8rem 1.3rem;
    border: none;
    cursor: pointer;
}
.common-btn:hover{
    font-size:2rem ;
}
.banner-img{
    margin:0 4.5rem ;
}
.banner-photo{
    width: 100%;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 0px -94.291px / 100% 137.109% no-repeat;
}

/* banner related style end */

/* Quick list section style start  */

.quick-list-container{
    display: flex;
    align-items: center;
    padding: 0 4rem;
    margin-top: 5rem;
}
.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    
} 
.quick-list-photo{
    border-radius: 0.5rem;
    background: url(<path-to-image>), lightgray -75.122px 0px / 150.038% 100% no-repeat;
}
.quick-list-text{
    padding-left: 2.5rem;
    text-align: center;
}
.quick-list-title{
    font-size: 2.8rem;
}
/* Quick list section style end */


/* features section style start */

.features-container{
    margin-top: 5rem;
    display: flex;
    padding: 0 5rem;
}
.features-title{
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    border-left: 0.33rem solid  #E55473;
}
.card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 0.9rem 1.8rem;
   margin-top: 1.7rem;
}
.features-photo{
    margin-left: 6rem;
}
.ten-years{
    background: #E55473;
    color: #FFF;
    border-radius: 0.33rem;
    width: 12rem;
    padding: 3rem 2rem;
    text-align: center;
    position:relative;
    bottom: 5.5rem;
    left: 2rem;
    
}
.ten-years h2{
    font-size: 2.3rem;
}

/* features section style end  */

/* Some Facts section style start  */

.facts-text {
   text-align: center;
}
.facts-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.facts-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin: 0 4rem ;
    margin-top: 2rem; 
}
.facts-card{
    border: 1px solid #E55473 ;
    border-radius: 0.5rem;
    text-align: center;
    padding: 2.5rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.facts-card-title{
    padding: 0.7rem;
}

/* Some Facts section style end */


/* Our Sponsors section style start */

.sponsors-text{
    margin-top: 5rem;
    text-align: center;
}
.sponsors-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.sponsors-img{
    margin-top: 2.5rem ;
    margin-left: 4rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    gap: 0.7rem;
}



/* Our Sponsors section style end  */


/* footer section style start */

footer{
    background: rgba(255, 144, 14, 0.10);
    margin-top: 3rem;
}
.footer-form{
    padding-top: 3rem;
    text-align: center;
    
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-description{
    color: var(--dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 0 2rem 0;
}
input{
    border-radius: 10px;
    border: 0px;
    margin-bottom: 12px;
    padding: 18px 35px;
    width: 50%;
    background: #FFF;
}
.footer-text{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: var(--dark-03, #727272);
}
/* footer section style end */



/* Media Query start  ( ) */

/* small device */

@media screen and  (max-width:576px ){
    nav{
        flex-direction: column;
        text-align: center;
    }
    .logo{
        padding-bottom: 1rem;
    }
    .menus-container{
        padding-left: 0;
    }
    .banner-img{
        margin: 0 1.5rem;
    }
    .quick-list-container{
        flex-direction: column-reverse;
        padding: 1.8rem;
        margin-top: 2rem;
    }
    .quick-list-text{
        padding-left: 0;
        padding-bottom: 1.5rem;
    }
    .quick-list-img{
        grid-template-columns: repeat(1,1fr);
    }
    .features-container{
        flex-direction: column;
        margin-top: 2rem;
        padding: 0 1.5rem;
    }
    .features-photo{
        width: 80%;
        margin: 1rem 2rem 0 2rem;
    }
    .facts-card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .sponsors-img{
        grid-template-columns: repeat(1,1fr);
        padding-left: 3.5rem;
        margin-top: 1.2rem;
        gap: 1.3rem;
    }
    

}

/* medium device  */

@media screen and (min-width:577px) and (max-width:992px ){
    .quick-list-container{
        flex-direction: column-reverse;
        margin-top: 4rem;
    }
    .quick-list-text{
        padding-left: 0;
        padding-bottom: 1.5rem;
    }
    .quick-list-img{
        padding: 0 auto;
    }
    .features-container{
        flex-direction: column;
    }
    .features-photo{
        width: 90%;
        margin: 1rem 1.5rem 0 1.5rem;
    }
    .facts-card-container{
        grid-template-columns: repeat(2,1fr);
    }  
    .sponsors-img{
        grid-template-columns:repeat(3,1fr) ;
        
    }

}      