*{
font-family: 'Work Sans', sans-serif;
padding: 0;
margin: 0;

}

/* nav related style start  */

nav{
    display: flex;
    justify-content: space-between;
    padding: 2.8rem;
    background: rgba(39, 39, 39, 0.05);
}
.logo{
    color: #E55473;
    font-size: 2.1rem;
    font-weight: 700;
 
}
.menus-container{
    display: flex;
    list-style: none;
    gap: 2rem; 
    align-items: center;
    padding-left: 2rem;
}
a{
    text-decoration: none;
    color: #131313;
}

/* nav related style end */

/* banner related style start  */

.banner-container{
    background: rgba(255, 144, 14, 0.10);
}
.banner-text{
    text-align: center;
    padding: 1.9rem 0;
}
.banner-title{
    color: var(--dark-01, #131313);
    font-size: 3.1rem;
    font-weight: 700;
}
span{
    color: #E55473;
}
.common-description{
    color: var(--dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    padding: 1.5rem 0;
}
.common-btn{
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 8px;
    background: #E55473;
    padding: 0.8rem 1.3rem;
    border: none;
    cursor: pointer;
}
.banner-img{
    margin:0 4.5rem ;
}
.banner-photo{
    width: 100%;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 0px -94.291px / 100% 137.109% no-repeat;
}

/* banner related style end */

/* Quick list section style start  */

.quick-list-container{
    display: flex;
    align-items: center;
    padding: 0 4rem;
    margin-top: 5rem;
}
.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    
} 
.quick-list-photo{
    border-radius: 0.5rem;
    background: url(<path-to-image>), lightgray -75.122px 0px / 150.038% 100% no-repeat;
}
.quick-list-text{
    padding-left: 2.5rem;
    text-align: center;
}
.quick-list-title{
    font-size: 2.8rem;
}
/* Quick list section style end */



/* Media Query start  ( ) */

/* small device */

@media screen and  (max-width:576px ){
    nav{
        flex-direction: column;
        text-align: center;
    }
    .logo{
        padding-bottom: 1rem;
    }
    .menus-container{
        padding-left: 0;
    }
    .quick-list-container{
        flex-direction: column-reverse;
        padding: 1.8rem;
        margin-top: 2rem;
    }
    .quick-list-text{
        padding-left: 0;
        padding-bottom: 1.5rem;
    }
    .quick-list-img{
        grid-template-columns: repeat(1,1fr);
    }
    
}

/* medium device  */

@media screen and (min-width:577px) and (max-width:992px ){
    .quick-list-container{
        flex-direction: column-reverse;
        margin-top: 4rem;
    }
    .quick-list-text{
        padding-left: 0;
        padding-bottom: 1.5rem;
    }
    .quick-list-img{
        padding: 0 auto;
    }
}

